@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');


:root {
    --main-color: #8B259D;
    --accent-color: black;
    font-family: 'Work Sans', sans-serif;
    scroll-behavior: smooth;
}
body {
    max-width: 980px;
    margin:auto;
}
header {
    display: flex;
    justify-content: space-around;
}
.logo {
    display: flex;
    font-family: 'Work Sans', sans-serif;
    font-size: 2rem;
    text-align: center;
}
li {
    display: inline-block;
}

header li > a {
    display: block;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-size: 24px;
}

 body > header > nav {
    display: flex;
    justify-content: space-around;
}

body > header > nav > a {
    display: block;
    flex: 1;
    text-decoration: none;
    font-size: 20px;
    color:  var(--main-color);
    padding: 5px;
}