                        @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap');
                         :root {
                            --main-color: #8B259D;
                            --accent-color: black;
                            --section-color: #c4c4c4;
                            font-family: 'Work Sans', sans-serif;
                            scroll-behavior: smooth;
                        }
                        
                        body {
                            max-width: 980px;
                            margin: auto;
                        }
                        
                        header {
                            color: var(--main-color);
                        }
                        
                        header .logo {
                            display: inline-flex;
                            font-family: 'Work Sans', sans-serif;
                            text-align: center;
                            padding-left: 15px;
                        }
                        
                        header .logo img {
                            margin: auto;
                        }
                        
                        header nav {
                            display: block;
                            justify-content: space-between;
                        }
                        
                        header nav .navigation {
                            justify-content: flex-end;
                            padding: 10px;
                            display: flex;
                        }
                        
                        header nav .navigation a {
                            text-decoration: none;
                            font-size: 18px;
                            font-weight: bold;
                            color: var(--main-color);
                            padding: 10px;
                        }
                        
                        nav a:hover {
                            cursor: pointer;
                        }
                        
                        header .baner img {
                            width: 100%;
                        }
                        
                        @media (min-width: 500px) {
                            header nav {
                                display: flex;
                            }
                            header nav .navigation {
                                justify-content: space-between;
                            }
                            header nav .navigation a {
                                display: block;
                                margin: auto;
                            }
                        }
                        
                        .guote,
                        .guote p {
                            font-size: 10px;
                            color: #b3b3b3;
                            text-align: left;
                            padding-left: 10px;
                        }
                        
                        .guote h2 {
                            overflow-wrap: break-word;
                            max-width: calc(100% - 60px);
                            padding-left: 10px;
                            padding-right: 10px;
                        }
                        
                        .travels .travels-items,
                        .guide .guide-items,
                        .gallery .gallery-images {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            justify-content: space-around;
                            text-align: center;
                        }
                        
                        .gallery .gallery-images img {
                            margin-bottom: 10px;
                        }
                        
                        section {
                            padding-bottom: 20px;
                        }
                        
                        section h2 {
                            display: block;
                            background-color: var(--section-color);
                            margin: 0px;
                            padding: 10px;
                            margin-bottom: 5px;
                            text-align: center;
                        }
                        
                        .travels .travels-items article img,
                        .travels .travels-items article h3,
                        .guide .guide-items article img,
                        .guide .guide-items article h3,
                        .gallery .gallery-images img {
                            width: 310px;
                        }
                        
                        .guide .guide-items a,
                        .travels .travels-items a {
                            display: block;
                            width: 100%;
                            margin-bottom: 20px;
                            color: blue;
                        }
                        
                        .travels .read-more {
                            display: block;
                            text-align: center;
                            padding-bottom: 10px;
                        }
                        
                        footer .follow-me {
                            background: url('/images/follow-me.png');
                            background-position: center;
                            min-height: 400px;
                            width: 100%;
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                        }
                        
                        footer .follow-me .center-f-m {
                            margin: auto;
                        }
                        
                        footer .follow-me .center-f-m h2 {
                            font-size: 1.5rem;
                        }
                        
                        footer .follow-me .center-f-m .social-network {
                            padding-left: 15px;
                        }
                        
                        footer .ask-me {
                            background: url('/images/ask-me.png');
                            background-position: center;
                            padding: 20px;
                        }
                        
                        footer .ask-me .ask-me-form {
                            min-width: 250px;
                            max-width: 400px;
                            display: block;
                            margin: auto;
                            background-color: white;
                            padding: 15px;
                        }
                        
                        footer .ask-me .ask-me-form form input {
                            width: 100%;
                            margin: 10px 0 10px 0;
                            padding: 5px;
                            box-sizing: border-box;
                        }
                        
                        footer .ask-me .ask-me-form h2,
                        p {
                            text-align: center;
                        }
                        
                        footer .ask-me .ask-me-form input[type="submit"] {
                            width: 100%;
                            margin: 10px 0 10px 0;
                            background: var(--section-color);
                            color: white;
                            padding: 5px;
                            box-sizing: border-box;
                        }
                        
                        .img-full {
                            width: 100% !Important;
                        }